*{
    Box-sizing:border-box;
    }   

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
  
    margin: auto;
    background-color: black;
    }

#mainContainer{
    height: 500px;
    background-color: rgb(56, 56, 56);
}

#about{
    font-size:  20px;
    color: wheat;
    float: left;
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;
    border-right:1px solid wheat;
    
}

#portrait1{
    background-image: url(../images/placeholder.png);
    width:  250px;
    height: 250px;
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    border-radius: 100%;
}
#portrait2{
    background-image: url(../images/placeholder.png);
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    border-radius: 100%;
}
#portrait3{
    background-image: url(../images/placeholder.png);
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    border-radius: 100%;
}

.clearFix{
    clear:both;
}


#header{
    margin-top: 20px;
    min-height: 400px;
    text-align: center;
    background-image: url(../images/martin.jpg);
}

#header h1{
    font-size: 145px;
    padding-top: 150px;
    line-height: 1.6em;
    color:  whitesmoke;
    text-align: center;
    font-family: 'Oleo Script Swash Caps';

}

#mainNav{
    height: 50px;
}

#mainNav ul{
    list-style: none;  
    padding-top: 10px;
    margin: auto;
    width: 1150px;
    text-align: center;
}

#mainNav li{
    display: inline;
    padding: 5px 70px;
    margin: auto;
    font-size: 21px;
    
}

/* #mainNav li:hover{
    color: tomato;

} */

#mainNav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Nanum Gothic;
}

#mainNav a:hover{
    color: tomato;

}

#footer{
   
    height: 80px;
    background-color: darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

#footer p{
    padding-top: 30px;
    color: tomato;
    text-align: center;
    
}

